/* footer start */

.footer {
        background: #525773;
}

.footer__top {
        padding: 15px 0 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.col__right {
        max-width: 378px;
}

.footer__logo {
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin-bottom: 20px;
}

.f__text {
        font-size: 14px;
        color: var(--oq);
        display: flex;
        flex-direction: column;
        font-weight: 700;
}

.f__text span {
        font-size: 22px;
}

.footer__text {
        font-size: 16px;
        color: var(--oq);
}

.col__left {
        display: flex;
        column-gap: 90px;
}

.f__logo {
        width: 50px;
        height: 50px;
        overflow: hidden;
        object-fit: cover;
}

.f__title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 15px;
        color: var(--oq);
}

.f__item {
        list-style: circle;
        color: var(--oq);
}

.f__link {
        color: var(--oq);
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 2px;
        display: inline-block;
}

.footer__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 26px 0 44px;
        position: relative;
}

.footer__bottom::after {
        position: absolute;
        content: '';
        width: 100%;
        background: var(--oq);
        height: 2px;
        top: 0;
        left: 0;
        opacity: 0.5;
}

.bottom__text {
        font-size: 16px;
        color: var(--oq);
        font-weight: 400;
}

.bottom__link {
        text-decoration-line: underline;
        font-size: 16px;
        color: var(--oq);
}

.footer__icons {
        display: flex;
        align-items: center;
        column-gap: 20px;
}

.footer__icons a {
        font-size: 16px;
        color: var(--oq);
}

.footer__payment {
        display: flex;
        align-items: center;
}

.payment {
        font-size: 12px;
        color: var(--oq);
        margin-right: 50px;
        font-weight: 400;
}

.footer__image {
        width: 75px;
        height: 42px;
        background: var(--oq);
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
}

.f__list2 {
        display: none;
}

/* footer end */

@media (max-width: 850px) {

        .footer__text,
        .f__list,
        .bottom__text,
        .bottom__link {
                display: none;
        }

        .f__list2 {
                display: block;
        }
}

@media (max-width: 576px) {
        .payment {
                display: none;
        }
}

@media (max-width: 414px) {
        .footer__image {
                transform: scale(0.8);
                margin-right: -10px;
        }
}
@media (max-width: 375px) {
        .f__logo {
                width: 35px;
                height: 35px;    
        }

        .f__text {
                font-size: 10px;
                font-weight: 400;
        }

        .f__text span {
                font-size: 15px;
        }

        .f__title {
                font-size: 14px;
                margin-bottom: 5px;
        }

        .f__item {
                list-style: outside;
        }

        .f__link {
                font-size: 12px;
                margin-bottom: -3px;
        }

        .f__none {
                display: none;
        }
}