::-webkit-scrollbar {
        height: 5px;
}

/* header start */

.header {
        padding-top: 70px;
}


.content .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 60px;
        margin-bottom: 150px;
}

.header__content {
        max-width: 520px;
        width: 100%;
}

.content__title {
        font-weight: 700;
        font-size: 60px;
        line-height: 80px;
        color: var(--kok);
        margin-bottom: 20px;
}

.content__title span {
        color: var(--main);
}

.content__text {
        font-size: 20px;
        font-weight: 400;
        color: var(--kok);
        opacity: 0.8;
        margin-bottom: 60px;
}

.header__foto {
        max-width: 605px;
        width: 100%;
        overflow: hidden;
}

.header__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
}

.header__button {
        max-width: 225px;
        width: 100%;
        padding: 18px 0;
        text-align: center;
        background: var(--main);
        color: var(--oq);
        opacity: 0.8;
        transition: 400ms;
        display: inline-block;
}

.header__button:hover {
        opacity: 1;
        border-radius: 7px;
}

.objects {
        margin-bottom: 180px;
}

.objects .container {
        display: flex;
        column-gap: 40px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        padding-top: 30px;
}

.obj__image {
        width: 150px;
        height: 150px;
        box-shadow: 0px 8px 0px 0px rgba(79, 101, 243, 0.5);
        border-radius: 50%;
        background: var(--oq);
        transform: scale(0.8);
        transition: 400ms;
        overflow: hidden;
        flex-shrink: 0;
        padding: 35px;
        scroll-snap-align: center;
}

.obj__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
}

.obj__image:hover {
        transform: scale(1) translateY(-25px);
        box-shadow: 0px 15px 0px rgba(2, 255, 44, 0.432);
}

/* header end */



/* main start */



/* savdo start */

.savdo .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 240px;
}

.savdo__dastur {
        background: url(../img/section__bg.png) no-repeat center center / cover;
}

.savdo__foto {
        max-width: 680px;
        width: 100%;
        overflow: hidden;
}

.savdo__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
}

.savdo__title {
        font-weight: 500;
        font-size: 16px;
        color: var(--main);
        margin-bottom: 10px;
}

.savdo__text {
        font-size: 40px;
        line-height: 51px;
        color: var(--kok);
        margin-bottom: 20px;
}

.savdo__txt {
        font-size: 16px;
        line-height: 25px;
        color: var(--kok);
        opacity: 0.6;
        margin-bottom: 50px;
}

.savdo__content {
        max-width: 500px;
        width: 100%;
}

.dastur {
        order: 1;
        max-width: 508px;
        width: 100%;
        max-height: 345px;
        height: 100%;
}

main {
        overflow-x: hidden;
}

/* savdo end */

/* narxlar start */

.narxlar {
        margin-bottom: 140px;
}

.bizning__narxlar {
        font-size: 16px;
        font-weight: 500;
        color: var(--main);
        text-align: center;
        margin-bottom: 10px;
}

.narx__title {
        font-size: 40px;
        color: var(--kok);
        font-weight: 700;
        text-align: center;
        margin-bottom: 90px;
}

.narxlar .container {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 30px;
        /*  scroll-snap-type: x mandatory;
        overflow: auto; */
}

.narx__card {
        padding: 40px 53px 55px;
        text-align: center;
        background: var(--oq);
        transition: 400ms;
        /*  flex-shrink: 0;
        scroll-snap-align: center; */
}

.narx__card:hover {
        border-radius: 20px;
        transform: translateY(-25px);
        box-shadow: 0 0 25px -10px rgb(21, 228, 38);
}

.narx__card:hover .narx__btn {
        background: var(--main);
        color: var(--oq);
}

.card__title {
        font-size: 20px;
        color: var(--kok);
        font-weight: 700;
        margin-bottom: 12px;
}

.card__narx {
        font-size: 40px;
        font-weight: 700;
        color: var(--main);
        margin-bottom: 25px;
        letter-spacing: 3px;
}

.card__narx s {
        color: grey;
        font-size: 16px;
}

.card__text {
        max-width: 292px;
        width: 100%;
        color: var(--kok);
        font-size: 16px;
        font-weight: 500;
        opacity: 0.6;
        line-height: 30px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 50px;
}

.narx__btn {
        max-width: 225px;
        width: 100%;
        text-align: center;
        padding: 18px 0;
        color: var(--main);
        background: var(--oq);
        border: 1px solid #FF4800;
        border-radius: 7px;
        transition: 400ms;
        display: inline-block;
}

/* narxlar end */
/* main end */

/* @media (max-width: 1440px) {} */
/* @media (max-width: 1366px) {} */
/* @media (max-width: 1320px) {
        .objects .container {
                overflow: auto;
                scroll-snap-type: x mandatory;
        }

        .obj__image {
                flex-shrink: 0;
                scroll-snap-align: center;
        }
} */

/* @media (max-width: 1290px) {} */
/* @media (max-width: 1140px) {} */
/* @media (max-width: 1024px) {} */
/* @media (max-width: 992px) {} */
@media (max-width: 850px) {
        .narxlar .container {
                flex-wrap: wrap;
        }

        .narx__card {
                width: 48%;
                margin-bottom: 30px;
        }

        .content__title {
                font-size: 42px;
                line-height: unset;
        }
}

@media (max-width: 768px) {
        .savdo__text {
                font-size: 32px;
                line-height: unset;
        }

        .narx__card {
                width: 90%;
                text-align: center;
        }

        .card__text {
                max-width: 400px;
        }
}

/* @media (max-width: 736px) {} */
/* @media (max-width: 734px) {} */
@media (max-width: 684px) {

        .content .container,
        .savdo .container {
                flex-direction: column;
        }

        .savdo__btn {
                margin-bottom: 20px;
        }

        .savdo .container,
        .narxlar {
                margin-bottom: 120px;
        }

        .narx__title {
                margin-bottom: 40px;
        }
}

/* @media (max-width: 667px) {} */
/* @media (max-width: 576px) {} */
@media (max-width: 414px) {
        .narx__card {
                width: 100%;
                padding: 35px 40px;
        }

        .content__title {
                font-size: 32px;
                margin-bottom: 10px;
        }

        .content__text {
                font-size: 16px;
                margin-bottom: 35px;
        }

        .narx__title {
                font-size: 32px;
        }

        .savdo__text {
                font-size: 26px;
        }

        .btn {
                max-width: unset;
        }
}

/* @media (max-width: 375px) {} */
/* @media (max-width: 360px) {} */
/* @media (max-width: 320px) {} */
/* @media (max-width: 282px) {} */
/* @media (max-width: 280px) {} */