.about {
        padding: 100px 0;
        background: #013FFA;
        opacity: 0.8;
}

.about .container {
        display: flex;
        justify-content: space-between;
}

.skill {
        max-width: 235px;
        width: 100%;
        text-align: center;
}

.skill:hover .skill__icon {
        color: var(--oq);
        border: 1px solid var(--oq);
        background: var(--main);
}

.skill__icon {
        margin-bottom: 10px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        padding: 25px;
        font-size: 45px;
        transition: 400ms;
        cursor: pointer;
        background: var(--oq);
        color: var(--kok);
}

.skill__text {
        font-size: 22px;
        font-weight: 500;
        color: var(--oq);
}

.count {
        font-size: 36px;
        font-weight: 700;
}

@media (max-width: 684px) {
        .about .container {
                flex-wrap: wrap;
        }

        .about {
                padding: 80px 0 50px;
        }

        .skill {
                max-width: unset;
                width: 48%;
                margin-bottom: 30px;
        }
}

@media (max-width: 414px) {
        .skill {
                width: 100%;
        }
}