@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

html {
        scroll-behavior: smooth;
}

body {
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 400;
        background: var(--body);
        overflow-x: hidden;
}

a {
        text-decoration: none;
}

li {
        list-style: none;
}

::-webkit-scrollbar {
        width: 10px;
        background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: var(--kok);
}

.container {
        max-width: 1320px;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
}

:root {
        --main: #FF4800;
        --oq: #fff;
        --kok: #333fad;
        --body: rgb(247, 252, 255);
}

.btn {
        max-width: 225px;
        width: 100%;
        background: var(--main);
        padding: 18px 0;
        text-align: center;
        color: var(--oq);
        display: inline-block;
        border-radius: 7px;
        transition: 400ms;
}

.btn:hover {
        background: var(--oq);
        color: var(--kok);
        box-shadow: 0 0 10px -3px var(--kok);
}

/* loader */

.loader {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: white;
        z-index: 999999;
        width: 100%;
        height: 100%;
}

.loader__image {
        width: 100px;
        height: 100px;
        overflow: hidden;
        margin-bottom: 20px;
}

.loading__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        animation: loader 10s infinite;
}

@keyframes loader {
        from {
                transform: rotate(0turn);
        }

        to {
                transform: rotate(5turn);
        }
}

.loading__box {
        border: 3px solid blue;
        background: white;
        width: 250px;
        height: 50px;
        position: relative;
        border-radius: 5px;
}

.loading__box::after {
        position: absolute;
        content: '';
        width: 0%;
        height: 100%;
        background: blue;
        top: 0;
        left: 0;
        animation: loadingBox 1.5s both;
}

@keyframes loadingBox {
        from {
                width: 0;
        }

        to {
                width: 100%;
        }
}

.foiz {
        font-size: 22px;
        color: black;
        font-weight: 400;
}

/* links wrapper */

.wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
        background: teal;
        padding: 20px 0;
}

.wrapper.container {
        max-width: unset;
        width: 100%;
}

.wrapper .icon {
        position: relative;
        background-color: var(--oq);
        border-radius: 50%;
        padding: 15px;
        margin: 15px;
        width: 80px;
        height: 80px;
        font-size: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        transition: 400ms;
        color: #000;
}

.wrapper .tooltip {
        position: absolute;
        top: 0;
        font-size: 22px;
        background-color: var(--oq);
        color: var(--oq);
        padding: 5px 8px;
        border-radius: 5px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
        opacity: 0;
        pointer-events: none;
        transition: 300ms;
}

.wrapper .tooltip::before {
        position: absolute;
        content: "";
        height: 8px;
        width: 8px;
        background-color: var(--oq);
        bottom: -3px;
        left: 50%;
        transform: translate(-50%) rotate(45deg);
        transition: 300ms;
}

.wrapper .icon:hover .tooltip {
        top: -50px;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
        background-color: #3b5999;
        color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
        background: black;
        color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
        background: linear-gradient(200deg, rgb(119, 0, 255), rgb(230, 50, 5), orange);
        color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
        background-color: #229ED9;
        color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
        background-color: red;
        color: #ffffff;
}


/* scroll__up-btn */

.scroll__up-btn {
        font-size: 36px;
        background-color: var(--kok);
        color: var(--body);
        position: fixed;
        z-index: 99;
        bottom: -100%;
        right: 2%;
        transition: 600ms;
        width: 40px;
        height: 43px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        cursor: pointer;
}

.show {
        bottom: 2%;
}

.scroll__up-btn:hover {
        opacity: 1;
}

.call__message {
        position: fixed;
        bottom: 2%;
        left: 2%;
        z-index: 99;
}

.tg__icon {
        color: var(--main);
        font-size: 44px;
        transition: 400ms;
}

.tg__icon:hover {
        transform: translate(15px, -15px);
        color: var(--kok);
}

@media (prefers-color-scheme: dark) {

        /*   :root {
                 --body: grey;
        }
 */
}


@media (max-width: 576px) {

        .wrapper .icon {
                font-size: 18px;
                padding: 8px;
                width: 40px;
                height: 40px;
        }

        .wrapper .tooltip {
                font-size: 12px;
        }
}

@media (max-width: 320px) {
        .wrapper .icon {
                font-size: 16px;
                padding: 5px;
                width: 35px;
                height: 35px;
        }

        .wrapper .tooltip {
                font-size: 10px;
        }

        .loading__box {
                width: 180px;
                height: 30px;
        }

        .loader__image {
                width: 80px;
                height: 80px;
        }
}