.header {
        min-height: 100vh;
        overflow: hidden;
        background: url(../img/pages-bg.png) no-repeat center center / cover;
        padding: 70px 0 40px;
        position: relative;
}

.header__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
}

.header__content-title {
        font-size: 60px;
        color: var(--oq);
        font-weight: 700;
        margin-bottom: 5px;
}

.header__content-text {
        font-size: 20px;
        color: var(--oq);
        font-weight: 700;
}

.header__content-text span {
        color: var(--main);
}


@media (max-width: 576px) {
        .header__content-title {
                text-align: center;
                font-size: 40px;
        }
}
@media (max-width: 576px) {
        .header__content-title {
                text-align: center;
                font-size: 32px;
        }

        .header__content-text {
                font-size: 16px;
        }
}

@media (max-width: 850px) {
        .header {
                padding-top: 20px;
        }
}